#p1 {
  background-color: orange;
  color: gray;
  font-size: 40px;
}
.p-c1 {
  background-color: blueviolet !important;
  color: white;
  font-size: 24px;
}
p {
  background-color: green;
  color: brown;
  font-size: 35px;
}
.div-1 {
  background-color: red;
  color: white;
  font-size: 30px;
  margin-top: 10px;
  width: 300px;
  margin-left: 200px;
  /* margin: 10px; */
  /* padding: 50px; */
  padding-left: 50px;
  box-sizing: border-box;
  border: 4px solid #00bcd4;
}
