.div1,
.div2,
.div3 {
  background-color: rosybrown;
  width: 200px;
  height: 200px;
  color: white;
  border: 2px solid black;
  margin-top: 20px;
}
.div1 {
  visibility: hidden;
  /* display: none; */
}
.div2 {
  padding: 20px;
  font-size: 24px;
}

.div3 {
  opacity: 0;
}
